.jumbotron {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 4px 4px 5px rgb(243, 37, 10);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  font-family: cursive;
  margin: 25px;
  border-style: double;
  background-image: url(https://bit.ly/2JSzo1c);
  background-position: center;
  /* background-size: 685px 350px; */
}

body {
  background-color: lightgray;
}

#game {
  display: none;
}

#names {
  text-align: center;
  /* margin: 25px; */
}

#player-two {
  display: none;
}